<div class="container">
  <form id="form">
    <input type="text" name="player1" placeholder='Player 1 Name' id='player1'>
    <input type="text" name="player2" placeholder='Player 2 Name' id='player2'>
    <input type="submit" value="submit" id="button">
  </form>
</div>

  <div id='speedway'>
    <div id="player1_strip" data-player-name=<%= "#{@p1_name}" %>>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
    </div>

    <div id="player2_strip" data-second-player-name=<%= "#{@p2_name}" %>>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
    </ul>
  </div>
