<div class="container">
  <table>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Winner</th>
    </tr>
    <tr>
      <td><%= @p1name %></td>
      <td><%= @p2name %></td>
      <td><%= @winner_name %></td>
    </tr>
  </table>



</div>
